<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BMW.Assessment.ReplicateForm.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <BMW.Assessment.ReplicateForm.Properties.Settings>
            <setting name="SourceDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="DestinationDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="IncludeSubdirectories" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DoNotDeleteDirectoriesFiles" serializeAs="String">
                <value>False</value>
            </setting>
        </BMW.Assessment.ReplicateForm.Properties.Settings>
    </userSettings>
</configuration>